.student-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.student-card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom right, #ff99cc, #ff99ff);
  transition: transform 0.3s;
}

.student-card:hover {
  transform: translateY(-5px);
}

.student-card p {
  margin: 5px 0;
}

.student-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .student-card {
    width: calc(50% - 20px);
  }
}
