* {
  margin: 0px;
  padding: 0px;
}
body {
  background: white;
}

.search-containeri {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.styled-selecti,
.select2 {
  width: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #262626;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: white;
}

.styled-selecti:focus,
.select2:focus {
  outline: none;
  border-color: #007bff;
}
.styled-selecti:focus {
  outline: none;
  border-color: #007bff;
}

.styled-selecti option,
.option {
  padding: 10px 10px 20px 10px;
  background-color: #262626;
  color: white;
}

.ipcheck {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
