.vNav {
  flex-direction: column;
  width: 60px;
  margin-top: 20%;
  height: 300px;
}

.uli {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;

  flex-direction: column;
}

.nvbtni {
  margin: 20px 0px 0px 10px;
  font-size: 10px;
  width: 100%;
  heigth: 100%;
}
