

.sir {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:20%;
  border:2px solid red;
  width
}



.main {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 50px;
  display: flex;

  overflow: hidden;
 
  max-width: 800px; 
}

.profile {
  padding: 20px;
  background-color: #751aff;
  border-radius: 20px 0 0 20px;
  display:flex:;
  align-items:center;
}
.pimg{
  display:flex:;
  align-items:center;
  justify-content:center
}

.profimg{

  width: 150px; 
  height: 150px; 
  display:flex:;
  align-items:center;
  justify-content:center
}

.profimg img {
  margin:10px 0px 0px 40px;
  width: 150px; 
   height: 150px; 
  
  
  
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.subprofile {
  padding: 10px;
  margin-top:20px
}

.name {
  font-size: 20px; 
  font-weight: bold;
  color: white;
  font-family: Arial, sans-serif;
}

.yearbrnch {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.year,
.branch {
  font-size: 14px;
  color: #555;
  font-family: Arial, sans-serif;
  margin: 10px;
}

.year p,
.branch p {
  background: #751aff;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.links {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: #555;
}

.links img {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  transition: transform 0.3s ease;
  border:5px solid white;
  background:white
}

.links img:hover {
  transform: scale(1.1);
}

.info,
.acds {
  flex: 1;
  padding: 10px;
}

.info {
  border-radius: 0 20px 20px 0;
  width: 2000px;
}

.acds {
  border-radius: 20px 0 0 20px;
}

.nums div,
.pieces div,
.fees div,
.marks div {
  margin-bottom: 10px;
  color: #555;
}

.prn,
.rollnum,
.dob,
.gender,
.category,
.actual,
.total,
.paid,
.remaining,
.cgpa,
.hsc,
.ssc,
.semwise,
.backloks {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 5px;


  text-align: center;
}

.addrs {
  margin: 0px 0px 20px 0px;
  color: #555;
  line-height: 1.6;
}

.backloks {
  margin-top: 20px;
}






.profile {
  padding: 20px;
  background-color: #751aff;
  color: white;
  border-radius: 20px 0 0 20px;
}



.name {
  font-size: 20px; 
  font-weight: bold;
  color: white;
  font-family: Arial, sans-serif;
}

.yearbrnch {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 20px;
}

.year,
.branch {
  font-size: 14px;
  color: #555;
  font-family: Arial, sans-serif;
}

.links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: #555;
}

.links img {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  transition: transform 0.3s ease;
}

.links img:hover {
  transform: scale(1.1);
}

.info,
.acds {
  flex: 1;
  padding-right: 25px;
}

.info {
  border-radius: 0 20px 20px 0;
}

.acds {
  border-radius: 20px 0 0 20px;
}

.nums div,
.pieces div,
.fees div,
.marks div {
  margin-bottom: 10px;
  color: #555;
}

.prn,
.rollnum,
.adharnum
,
.dob,
.gender,
.category,
.actual,
.total,
.paid,
.remaining,
.cgpa,
.hsc,
.ssc,
.semwise,
.backloks,
.phone,
.addrs,
.parent-phone {
  font-size: 16px; 
  font-weight: 200; 
  font-family: Arial, sans-serif;
  border: 2px solid #751aff;
  border-radius: 10px;
  padding: 5px;
}
.adharnum{
  width:130px
}
.addrs {
  margin-top: 20px;
  color: #555;
  line-height: 1.6;
}

.backloks {
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
.phone{
  width:40%
}

h3 {
  margin: 0px 0px 3px 0px;
}
.progress-bar {
  width: 100%;
  height: 20px;
  background-color:   #cccccc;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
}

.dob{
  width:90px;

}

