* {
  margin: 0px;
  padding: 0px;
}
body {
}

.dashbrd {
}
.search-container {
  background: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.styled-select,
.select2 {
  width: 500px;
  margin: 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #262626;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: white;
}

.styled-select:focus,
.select2:focus {
  outline: none;
  border-color: #007bff;
}
.styled-select:focus {
  outline: none;
  border-color: #007bff;
}

.styled-select option,
.option {
  padding: 10px 10px 20px 10px;
  background-color: #262626;
  color: white;
}

.styled-select option:hover {
  background-color: green;
}

.ipcheck {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.ip {
  margin: 5px 5px 5px 5px;
}
