* {
  margin: 0px;
  padding: 0px;
}
body {
  background: white;
}

.search-containeri {
  /* margin-top: -100px; */
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.styled-selecti,
.select2 {
  width: 200px;
  margin: 20px;
  /* Remove default arrow */
  border: 1px solid #ccc; /* Add border */
  border-radius: 7px; /* Add rounded corners */
  background-color: #262626; /* Add background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
  font-size: 16px; /* Adjust font size */
  color: white; /* Adjust font color */
}

.styled-selecti:focus,
.select2:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Change border color on focus */
}
.styled-selecti:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Change border color on focus */
}

.styled-selecti option,
.option {
  padding: 10px 10px 20px 10px; /* Adjust padding */
  background-color: #262626; /* Add background color */
  color: white; /* Adjust font color */
}

/* .styled-selecti option:hover {
  background-color: green; /* Change background color on hover */

/* yaml */

.ipcheck {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

/* 
input[type="text"],
input[type="number"],
input[type="date"] {
  margin: 5px 5px 5px 5px;
  border-radius: 7px;
  height: 30px;
  width: 270px;
border: 1px solid #ccc; 
  border-radius: 7px; /
  background-color: #262626;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px; 
  color: white;
} */
